# LangGraph Studio 전용
langgraph-cli[inmem]
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langsmith
python-dotenv

chromadb
sentence-transformers
transformers
torch
pandas
requests
beautifulsoup4