# crawling
requests==2.31.0
beautifulsoup4==4.12.3
 
# LangChain
langchain==0.2.16
langchain-openai==0.1.25
langchain-chroma==0.1.4
 
# vector DB
chromadb==0.5.0
 
# LLM
openai==1.50.0
 
# UI
streamlit==1.38.0
 
# scheduler
apscheduler==3.10.4
 
# envirment
python-dotenv==1.0.1